<%- include('partials/header') %>

<div class="add-event">

    <h1>New Event</h1>

    <form action="/add-event" method="post" autocomplete="off">

        <div class="add-event-wrapper">

            <input type="text" name="eventName" placeholder="Event Name" id="name-in" required>
            <label for="start-datetime-in">
                Starts : <input type="datetime-local" name="startDateTime" step="60" id="start-datetime-in" required>
            </label>
            <label for="end-datetime-in">
                Ends: <input type="datetime-local" name="endDateTime" step="60" id="end-datetime-in" required>
            </label>
            <input type="text" name="eventAddress1" placeholder="Address Line 1" id="address1-in" required>
            <input type="text" name="eventPostcode" placeholder="City/Postcode" id="postcode-in" required>

            <button type="submit" class="btn btn-primary save-btn" value="">Add Event</button>
            
        </div>

    </form>

</div>

<script src="scripts/addevent.js"></script>

<%- include('partials/footer') %>