<%- include('partials/header') %> 

<h2>
    <%= result %> 
</h2>

<script type="text/javascript">
    setTimeout(() => {
        window.location.href = '/my-plan';
    }, 1000)
</script>

<%- include('partials/footer') %>