<%- include('partials/header') %>

<div class="title">

    <h1>NodePlan</h1>
    <h2>by Will Oliver</h2>

    <p>
        Save time by organizing your working hours with NodePlan.
        Get started below.
    </p>

    <a href="/new-event">Add an event</a>

</div>

<%- include('partials/footer') %>