<%- include('partials/no-nav-header') %>

<div class="login-wrapper">

    <form action="/" method="post" class="form-signin">

        <i class="fa-solid fa-calendar-days fa-5x"></i>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        
        <label for="email" class="sr-only">Email address</label>
        <input name="email" type="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="">
        
        <label for="password" class="sr-only">Password</label>
        <input name="password" type="password" id="password" class="form-control" placeholder="Password" required="">
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    
    </form>

</div>

<%- include('partials/footer') %>