<%- include('partials/no-nav-header') %> 

<div class="login-wrapper">

    <form class="form-signin">

        <i class="fa-solid fa-calendar-days fa-5x"></i>
        <h1 class="h3 mb-3 font-weight-normal">NodePlan</h1>

        <a href="/signup" class="btn btn-lg btn-primary btn-block">Create account</a>
        <a href="/login" class="btn btn-lg btn-secondary btn-block">Sign in</a>
        <a href="/auth/google" class="btn btn-lg btn-light btn-block">
            <i class="fa-brands fa-google"></i> Sign in with Google
        </a>
    
    </form>

</div>

<%- include('partials/footer') %> 