<%- include('partials/header') %>

<div class="view-plan-title">
    <h1>Your Schedule</h1>
    <h3>View and Inspect Events</h3>
</div>

<div class="view-plan-events">
    
    <%- include('partials/calendar') %> 

</div>

<%- include('partials/footer') %>