/*  COLOURS

*/

/*  FONTS 

*/

/* BOOTSTRAP/HTML DEFAULT OVER-RIDES */
body {
    padding: 0 15%;
    position: relative;
}
h1 {
    margin: 25px 0;
}
h2 {
    margin: 25px 0;
}
input {
    display: block;
    margin: 5px auto;
    text-align: center;
}
p {
    margin: 0;
}
.btn {
    margin: 10px 5px 0 0;
}
.navbar {
    padding-left: 0;
    padding-right: 0;
}

/* HEADER */
.nav-custom {
    position: -webkit-sticky;
    position: sticky;
    padding: 0;
    top: 0;
    z-index: 1;
}
.log-out-btn {
    background: none;
    border: none;
}

/* ADDEVENT */
.add-event {
    text-align: center;
}
.add-event-wrapper {
    width: 30%;
    margin: 0 auto;
}
.add-event-wrapper input {
    width: 100%;
}
.add-event-wrapper label {
    text-align: left;
}
.event-time {
    padding: 10px 0;
}
@media only screen and (max-width: 800px) {
    .add-event-wrapper {
        width: 50%;
    }
}
@media only screen and (max-width: 400px) {
    .add-event-wrapper {
        width: 80%;
    }
}


/* VIEWPLAN & CALENDAR */
.view-plan-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
        "prev calendar next";
}
.calendar-prev {
    grid-area: prev
}
.calendar-wrapper {
    display: block;
    padding: 0 18%;
    grid-area: calendar;
}
.calendar-next {
    grid-area: next;
}
a.calendar-prev, a.calendar-next {
    position: relative;
    top: 50%;
    height: 50%;
}
.calendar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "mon tue wed thu fri sat sun"
        "0 1 2 3 4 5 6"
        "7 8 9 10 11 12 13"
        "14 15 16 17 18 19 20"
        "21 22 23 24 25 26 27"
        "28 29 30 31 32 33 34"
        "35 36 37 38 39 40 41";
    gap: 3px 3px;
}

.cell-mon { grid-area: mon }
.cell-tue { grid-area: tue }
.cell-wed { grid-area: wed }
.cell-thu { grid-area: thu }
.cell-fri { grid-area: fri }
.cell-sat { grid-area: sat }
.cell-sun { grid-area: sun }

.cell-no-0 { grid-area: 0 }
.cell-no-1 { grid-area: 1 }
.cell-no-2 { grid-area: 2 }
.cell-no-3 { grid-area: 3 }
.cell-no-4 { grid-area: 4 }
.cell-no-5 { grid-area: 5 }
.cell-no-6 { grid-area: 6 }

.cell-no-7 { grid-area: 7 }
.cell-no-8 { grid-area: 8 }
.cell-no-9 { grid-area: 9 }
.cell-no-10 { grid-area: 10 }
.cell-no-11 { grid-area: 11 }
.cell-no-12 { grid-area: 12 }
.cell-no-13 { grid-area: 13 }

.cell-no-14 { grid-area: 14 }
.cell-no-15 { grid-area: 15 }
.cell-no-16 { grid-area: 16 }
.cell-no-17 { grid-area: 17 }
.cell-no-18 { grid-area: 18 }
.cell-no-19 { grid-area: 19 }
.cell-no-20 { grid-area: 20 }

.cell-no-21 { grid-area: 21 }
.cell-no-22 { grid-area: 22 }
.cell-no-23 { grid-area: 23 }
.cell-no-24 { grid-area: 24 }
.cell-no-25 { grid-area: 25 }
.cell-no-26 { grid-area: 26 }
.cell-no-27 { grid-area: 27 }

.cell-no-28 { grid-area: 28 }
.cell-no-29 { grid-area: 29 }
.cell-no-30 { grid-area: 30 }
.cell-no-31 { grid-area: 31 }
.cell-no-32 { grid-area: 32 }
.cell-no-33 { grid-area: 33 }
.cell-no-34 { grid-area: 34 }

.cell-no-35 { grid-area: 35 }
.cell-no-36 { grid-area: 36 }
.cell-no-37 { grid-area: 37 }
.cell-no-38 { grid-area: 38 }
.cell-no-39 { grid-area: 39 }
.cell-no-40 { grid-area: 40 }
.cell-no-41 { grid-area: 41 }

.cal-cell {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    width: 100%;
    padding-top: 100%;
}
.day-label {
    background-color: none !important;
    text-align: center;
}
.cal-cell:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.cell-date-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}
.cell-date {
    position: absolute;
    bottom: 2px;
    right: 5px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
}
.cal-event-wrapper {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;

    overflow-x: hidden;
    overflow-y: auto;
}
.cal-event-wrapper::-webkit-scrollbar {
    background-color: none;
    border-radius: 25px;
    width: 10px;
}
.cal-event-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    
}
.cal-event-wrapper::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 2px 0;
}
.cal-event {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 0, 0, 0.75);
    border-radius: 5px;
    display: block;
    margin: 0 3px;
    padding: 10px 0;
    position: relative;
    width: 90%;
    height: 0;
    opacity: 90%;
    overflow: hidden;
}
.cal-event:hover {
    opacity: 100%;
}
.event-name {
    color: white;
    font-size: 0.8rem;
    position: absolute;
    top: 1px;
    left: 3px;
    width: 100%;
}
.event-name:hover {
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 990px) {
    .calendar-wrapper {
        padding: 0 21%;
    }
}

@media only screen and (max-width: 990px) {
    .calendar-wrapper {
        padding: 0 20%;
    }
    .event-name {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 850px) {
    .calendar-wrapper {
        padding: 0 10%;
    }
    .event-name {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 600px) {
    body {
        padding: 0 10px;
    }
    .view-plan-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "calendar calendar"
            "prev next";
        padding-bottom: 25px;
    }
    .calendar-prev, .calendar-next {
        text-align: center;
    }
    .calendar-wrapper {
        padding: 25px 0;
    }
    .event-name {
        font-size: 0.7rem;
    }
}

/* VIEWEVENT */
.map-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "map event-title"
        "map start-date-time"
        "map end-date-time"
        "map event-address-edit";
    gap: 10px 50px;
    margin: 50px auto 20px;
    text-align: left;
}
.event-map {
    grid-area: map;
}
.event-title {
    grid-area: event-title;
}
#event-name {
    margin-top: 0;
}
.start-date-time {
    grid-area: start-date-time;
}
.end-date-time {
    grid-area: end-date-time;
}
.event-address-edit {
    grid-area: event-address-edit;
}
#map {
    height: 400px;
    width: 100%;
}
.event-info-wrapper {
    text-align: center;
}
.edit-event-popup {
    background-color: white;
    border-radius: 25px;
    position: absolute;
    text-align: center;
    
    top: 10%;
    left: 30%;
    width: 40%;
    z-index: 2;
}
.popup-content {
    margin: 25px;
}
.popup-content input {
    padding: 5px 0;
    width: 70%;
}
.contents-hidden {
    display: none;
}
.popup-background {
    background-color: rgba(120, 120, 120, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    z-index: 1;
}
.edit-btn-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "save-btn"
        "cancel-btn"
        "."
        "delete-btn";
    width: 40%;
    margin: 0 auto;
}
.save-btn { grid-area: save-btn }
.edit-btn { grid-area: edit-btn }
.delete-btn { grid-area: delete-btn }

@media only screen and (max-width: 900px) {
    .popup-content input {
        width: 70%;
    }
    .edit-event-popup {
        left: 15%;
        width: 70%;
    }
    .edit-btn-grid {
        width: 70%;
    }
}
@media only screen and (max-width: 600px) {
    .map-info-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "event-title"
            "start-date-time"
            "end-date-time"
            "map"
            "event-address-edit";
    }
    #map {
        height: 300px;
    }
    #edit-event-btn {
        margin: 25px 0;
    }
    .edit-event-popup {
        top: 38%;
    }
    .popup-content input {
        width: 80%;
    }
    .edit-btn-grid {
        width: 80%;
    }
}

/* LOGIN */
.login-wrapper {
    margin: 100px auto;
    text-align: center;
    width: 300px;
}

@media only screen and (max-width: 400px) {
    .login-wrapper {
        padding-top: 40%;
    }
}

@media only screen and (max-width: 325px) {
    .login-wrapper {
        width: 100%;
    }
}