/*  COLOURS

*/

/*  FONTS 

*/

/* BOOTSTRAP/HTML DEFAULT OVER-RIDES */
body {
    padding: 0 10%;
    position: relative;
}
h1 {
    margin: 25px 0;
}
h2 {
    margin: 25px 0;
}
input {
    display: block;
    margin: 5px auto;
    text-align: center;
}
p {
    margin: 0;
}
.btn {
    margin: 10px 5px 0 5px;
}


/* HEADER */
.nav-custom {
    padding: 0;
}


/* ADDEVENT */
.add-event {
    text-align: center;
}
.add-event-wrapper {
    width: 30%;
    margin: 0 auto;
}
.add-event-wrapper input {
    width: 100%;
}
.event-time {
    padding: 10px 0;
}
@media only screen and (max-width: 800px) {
    .add-event-wrapper {
        width: 50%;
    }
}
@media only screen and (max-width: 400px) {
    .add-event-wrapper {
        width: 80%;
    }
}


/* VIEWPLAN */
.view-plan-title {
    position: static;
}
.view-plan-events {
    position: static;
}
.event {
    padding: 10px 0;
}


/* VIEWEVENT */
.edit-event-popup {
    background-color: white;
    border-radius: 25px;
    position: absolute;
    text-align: center;
    
    top: 10%;
    left: 25%;
    width: 50%;
    z-index: 2;
}
.popup-content {
    margin: 25px;
}
.popup-content input {
    padding: 5px 0;
    width: 50%;
}
.contents-hidden {
    display: none;
}
.popup-background {
    background-color: rgba(200, 200, 200, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 100vh;
    z-index: 1;
}
.edit-btn-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "save-btn"
        "cancel-btn"
        "."
        "delete-btn";
    width: 40%;
    margin: 0 auto;
}
.save-btn { grid-area: save-btn }
.edit-btn { grid-area: edit-btn }
.delete-btn { grid-area: delete-btn }

@media only screen and (max-width: 900px) {
    .popup-content input {
        width: 70%;
    }
    .edit-event-popup {
        left: 15%;
        width: 70%;
    }
    .edit-btn-grid {
        width: 70%;
    }
}
@media only screen and (max-width: 600px) {
    .popup-content input {
        width: 80%;
    }
    .edit-btn-grid {
        width: 80%;
    }
}

/* CALENDAR */
.calendar-wrapper {
    padding: 25px 18%;
}
.calendar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "mon tue wed thu fri sat sun";
    gap: 3px 3px;
    margin: 3px 0;
}
.cal-cell {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: block;
    float: none;
    position: relative;
    width: 100%;
    aspect-ratio: 1;
}
.day-label {
    background-color: none !important;
    text-align: center;
}
.cal-cell:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.cell-0 { grid-area: mon }
.cell-1 { grid-area: tue }
.cell-2 { grid-area: wed }
.cell-3 { grid-area: thu }
.cell-4 { grid-area: fri }
.cell-5 { grid-area: sat }
.cell-6 { grid-area: sun }

.cell-date {
    position: absolute;
    bottom: 2px;
    right: 5px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
}
.cal-event {
    background-color: rgba(255, 0, 0, 0.75);
    border-radius: 5px;
    display: block;
    margin: 3px;
    padding: 10px 0;
    position: relative;
    height: 0;
    opacity: 90%;
}
.cal-event:hover {
    opacity: 100%;
}
.event-name {
    color: white;
    font-size: 0.8rem;
    position: absolute;
    top: 1px;
    left: 3px;
    width: 100%;
}
.event-name:hover {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .calendar-wrapper {
        padding: 25px 0;
    }
    .cal-cell {
        aspect-ratio: 0.65;
    }
}

@media only screen and (max-width: 600px) {
    body {
        padding: 0 10px;
    }
    .cal-cell {
        aspect-ratio: 0.5;
    }
    .event-name {
        font-size: 0.7rem;
    }
}